// *************************************
//
// Footer
// -> Display Footer
//
// *************************************

.Footer {
	.widget {
		@include span-columns(4);
	}

	.social {
		margin-top: 25px;
	}

	background-color: white;
	border-top: 2px solid #e9e9e9;
	
	.widgettitle {
		color: $c-red;
		margin-bottom: 10px;
		font-size: 22px;
		letter-spacing: 1px;
		margin-top: 40px;
	}
	
	.textwidget {
		p {
			line-height: 15px;
		}
	}
	
	a.contactformulier-btn {
			display: block;	 
			color: white;
			text-align: center;
			border: 3px solid transparent;
			background-color: $c-red;
			padding: 7px 15px;
			font-weight: 600;
		//	width: 195px;
			
			&:hover {
				background-color: white;
				text-decoration: none;
				border: 3px solid $c-red;
				color: $c-red;
				
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
			}
		
	}
	
	.linked-in {
		border: 4px solid $c-darkgrey;
		color: $c-darkgrey;
		padding: 10px 4px 10px 15px;
		font-size: 13px;
		font-weight: 800;
		display: block;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
		&:hover {
			text-decoration: none;
			color: white;
			background-color: $c-darkgrey;
	
	
			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
		}
	}
	
	.linked-in-in {
		background-color: transparent;
		.Icon--inline {
			fill: $c-darkgrey;
			width: 2rem;
			height: 2rem;
			margin: 0 2px;
			
		}
	}
	
	.linked-in:hover {
		.linked-in-in {
			.Icon--inline {
				fill: white;
			}
		}
	}
	
	ul#menu-footermenu select {
			background-image: none;
			border: 1px solid grey;
			border-radius: 5px;
			font-size: 14px;
			padding: 3px;
			width: 150px;
	}
}

.sub-footer {
	background-color: $c-darkgrey;
	a {
		color: #c4c4c4;
	}
	p {
	    text-align: center;
	    color: white;
	    font-weight: 600;
	    line-height: 40px;
    	margin-bottom: 0px;
    	font-size: 15px;
	}
}



// ============================================================== 
//					@media queries - Responsiveness
// ============================================================== 

@media all and (max-width: 955px) {
	.widget {
		@include span-columns(12);
	}
}


@media all and (max-width: 550px) {
	.span3 {
		text-align: center;
		width: 100%;
		
		.contactformulier-btn {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	
}


