// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
//	background-color: #ccc;
}

.Header-img {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  position: relative;
  height: 300px;
  max-width: 1185px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  background-position: center 0;
}



.extended-content {
	background-color: white;
	height: 60px;
	position: absolute;
	bottom: 0;
	width: 948px;
	p {
		text-align: center;
	    font-size: 20px;
	    line-height: 20px;
	    color: #444;
	}
}

.extended-content.one {
	display: none;
}

.extended-content.two {
	display: none;
}
.extended-content.landingspagina-two {
	display: none;
}


.page-id-5 {
	.extended-content.one {
		display: block;
	}
	.extended-content.landingspagina {
		display: none;
	}
}
