// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************



.Nav-wrapper {
	background-color: $c-lightgrey;
	border-bottom: 7px solid white;
}

.Logo {
	height: 170px;
	padding: 45px 30px;
	width: 49%;
	img {
		max-width: 100%;
	}
}

.right-nav-content {
	width: 50%;
	float: right;
	padding-top: 15px;
	
	
	.Nav-tel {
		text-align: center;
		line-height: 0;
		height: 50px;		
		p {
			margin-top: -10px !important;
			color: $c-red;

			&:hover {
				text-decoration: underline;
			}
		}
		
		h5 {
			color: $c-red;			
			font-size: 24px;
			line-height: 0;			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.Navigation ul {
	  text-align: center;
	  margin: 10px 0;
	}
	a#nav-toggle {
		text-align: center;
		display: none;
		cursor: pointer;
		border: 3px solid $c-darkgrey;
		margin: 0 auto 20px;
		width: 50px;
		height: 50px;
		padding-top: 9px;
		border-radius: 10px;
		fill: $c-darkgrey;

		
		&:hover {
			background-color: #fafafa;
			border-color: $c-red;
			fill: $c-red;
			
			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
		}
	}
}


.Navigation-link.is-active {
 	background-color: $c-red;
}


// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}


// ----- Navigation link ----- //

.Navigation-link {
	text-decoration: none;
	color: white;
	padding: 7px 7px;
	background-color: $c-darkgrey;
	margin: 0 3px;
	font-size: 15px;	
	
	&:hover {
		background-color: $c-red;
		text-decoration: none;
		
		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;
		
	}
}

.Navigation-link--dropdownTrigger:focus {
	background-color: $c-red;
	text-decoration: none;
}


// -------- Dropdown style -------- //

.Navigation-listItem--hasDropdown {
	position: relative;
	text-decoration: none;
}
 
.Navigation-list--dropdown {
	display: block;
	height: auto;
    position: absolute;
	background-color: $c-lightgrey;
	border: 7px solid white;
	border-top: 0px solid white;
	width: auto;
    line-height: 40px;
    top: 42px;
    left: 0;
    z-index: 110;
	
	
	.Navigation-listItem {
		display: block;
		padding: 0 2px;
		width: 205px;
				
		a {
			background-color: transparent;
			color: $c-darkgrey;
			
			&:hover {
				color: $c-red;
			}
		}
	}
	
	.Navigation-link.is-active {
 	}
}

#menu-item-86 {
	.Navigation-list--dropdown {
		left: 0px;
	}
}

//------------ Important! -------------//
//        Dropdown display hide        //

.Navigation-list.is-hidden {
	display: none;
}

//-------------------------------------//

svg.Icon.Icon--inline {
	font-size: 35px;	
} 

.Navigation ul {
  @include clearfix();
  margin: 0;
}


//=========================================================================
//                       @media queries - Responsiveness
//=========================================================================

@media all and (max-width: 1050px) {
	#menu-item-86 ul.Navigation-list--dropdown {
		left: -76px;
	}	
}

@media all and (max-width: 780px) {
	.Nav-wrapper {
		border-bottom: 7px solid $c-red;
	}
	
	.Logo {
	    display: block;
	    margin: 10px auto;
	    width: 290px;
	    height: 110px;
	    padding: 45px 0px;
	}
	
	.right-nav-content {
		width: 100%;
		.Nav-tel {
			display: none;
		}
	}
	
	a.Navigation-link {
		display: block;
		font-size: 19px;
	    margin: 10px 0;
		border-radius: 6px;
	}
	
	a#nav-toggle {
		display: block !important;
	}
	
	.Navigation-list--dropdown {
		position: static;
		border: 0px solid white;
		
		.Navigation-listItem {
			width: auto;
			a {
				border: 2px solid;
				line-height: 26px;
			}
		}
	}
	
	
	.Navigation-list--parent {
	  display: none;
	  @include media(780px) {
	    display: block;
	  }
	}
	
	.Navigation-menuToggle {
	  display: block;
	  @include media(780px) {
	    display: none;
	  }
	}
}
