// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************
.Nav-wrapper {
	height: 170px;
	background-color: $c-grey;
	
}

.Logo {
	height: 170px;
	padding: 45px 30px;
	img {
		max-width: 400px;
	}
}
.right-nav-content {
	width: 50%;
	float: right;
	padding-top: 15px;
	.Nav-tel {
		text-align: center;
		line-height: 0;
		height: 50px;		
		p {
			margin-top: -10px !important;
			color: $c-red;
			&:hover {
				text-decoration: underline;
			}
		}
		
		h5 {
			color: $c-red;			
			font-size: 24px;
			line-height: 0;			
			&:hover {
				text-decoration: underline;
			}
		}

	}
	.Navigation {
	  text-align: center;
	}
}



// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
 	background-color: $c-red;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
	text-decoration: none;
	color: white;
	padding: 7px 7px;
	background-color: $c-darkgrey;
	margin: 0 3px;
	font-size: 15px;	
	
	&:hover {
		background-color: $c-red;
		text-decoration: none;
	}
}


