// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------

// Open Sans (normal, italic, bold, bold/italic)
@include web-fonts(("Open Sans": ("400", "400 italic", "800", "800 italic")));

// -------------------------------------
// Variables
// -------------------------------------

// ----- Colors ----- //

$c-black 	 : #1B1C17;
$c-white 	 : #EFEFEF;
$c-blue		 : #76B2D0;
$c-red   	 : #B72938;
$c-lightgrey : #FAFAFA;
$c-grey  	 : #E9E9E9;
$c-darkgrey  : #65666A;
$c-green	 : #00654D;
// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'proxima-nova',sans-serif;
$t-headerFontFamily : 'proxima-nova',sans-serif;
$t-fontSize         : 16px;
$t-lineHeight       : 1.5;
